
header {
    padding: 150PX 0;
    background: rgba(40,40,40,1);
    text-align: center;
    margin-bottom: 50px;
}

header h1 img {
    display: inline;
    vertical-align: middle;
    opacity: 0;
    margin-left: 339px;
}

header h1 {
    display: inline;
    line-height: 80px;

    img:last-of-type {
        margin-left: 30px;
        vertical-align: middle;
    }
}
.vide-wrapper {
    opacity: 0;
}
