.preview {
    height: 100%;

    header {
        height: 70px;
        position: fixed;
        width: 100%;
        background-color: #333;
        padding: 0;
        margin: 0;
        top: 0;


        h1 {
            float: left;
            font-size: 16px;
            line-height: 50px;
            color: #fff;
            margin-left: 20px;

            img {
                opacity: 1;
                height: 30px;
                margin-left: 0 !important;
                margin-right: 15px;
            }
        }
        nav {
            position: relative;
            padding: 0;
            float: right;
            height: 70px;
            width: auto;
            top: auto;
            padding: 15px 0;
            a {
                float: right;
                margin-right: 20px;
                border-bottom: none;
                padding: 8px 16px;
                color: #fff;
                line-height: 1.2;
                font-family: 'Open Sans', sans-serif;
                transition: all 330ms ease-in-out;
                color: #fff;
                text-transform: uppercase;
                border-radius: 4px;
            }
            .btn {
              border: solid 3px #fff;

              &:hover {
                color: #333;
                background-color: #fff;
                border: solid 3px #fff;
              }
            }
            .btn-alt {
              color: #777778;
              border: solid 3px #777778;
              &:hover {
                color: #fff;
                border: solid 3px #fff;
              }
            }

        }
    }
}
body.preview {
    padding-top: 70px;
}
