@import url(http://fonts.googleapis.com/css?family=Bitter:400,700|Roboto:400,700,500,300);
/* line 12, ../sass/_type.sass */
body,
button,
input,
select,
textarea {
  color: #333337;
}

/* line 20, ../sass/_type.sass */
.home,
.single-inner,
meta {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* line 26, ../sass/_type.sass */
p {
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 24px;
  line-height: 2.4rem;
}
@media (min-width: 768px) {
  /* line 26, ../sass/_type.sass */
  p {
    font-size: 20px;
    font-size: 2rem;
    line-height: 28px;
    line-height: 2.8rem;
  }
}
@media (min-width: 992px) {
  /* line 26, ../sass/_type.sass */
  p {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 32px;
    line-height: 3.2rem;
  }
}

/* line 40, ../sass/_type.sass */
a {
  text-decoration: none;
  color: #fff;
  border-bottom: solid 1px #fAfafa;
  transition: color 0.3s;
}
/* line 46, ../sass/_type.sass */
a:hover {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition: all, 300ms;
  -moz-transition: all, 300ms;
  transition: all, 300ms;
}

/* line 51, ../sass/_type.sass */
h1, h2, h3, h4, h5, h6 {
  border-bottom: solid 0px transparent;
}

/* line 53, ../sass/_type.sass */
h1,
h2 {
  font-family: "Bitter", serif;
  font-weight: 700;
}

/* line 58, ../sass/_type.sass */
h1 {
  margin: 0;
  font-family: "Bitter", serif;
  font-size: 32px;
  font-size: 3.2rem;
}
@media (min-width: 992px) {
  /* line 58, ../sass/_type.sass */
  h1 {
    font-size: 58px;
    font-size: 5.8rem;
  }
}
/* line 66, ../sass/_type.sass */
h1 a {
  border-bottom: solid transparent 0px;
}

/* line 68, ../sass/_type.sass */
h2 {
  margin: 0;
  font-size: 32px;
  font-size: 3.2rem;
}

/* line 72, ../sass/_type.sass */
h3 {
  font-size: 26px;
  font-size: 2.6rem;
  font-family: "Bitter", serif;
}

/* line 76, ../sass/_type.sass */
h4 {
  font-family: "Bitter", serif;
}

/* line 79, ../sass/_type.sass */
b {
  font-weight: 700;
}

/* line 81, ../sass/_type.sass */
i {
  font-style: italic;
}

/* line 83, ../sass/_type.sass */
ul,
ol {
  margin-bottom: 20px;
  padding-left: 20px;
  font-size: 16px;
  font-size: 1.6rem;
}
/* line 89, ../sass/_type.sass */
ul li,
ol li {
  margin: 5px 0;
}

/* line 5, ../sass/_animate.scss */
.delay-0 {
  animation-delay: 0ms;
  /* W3C and Opera */
  -moz-animation-delay: 0ms;
  /* Firefox */
  -webkit-animation-delay: 0ms;
}

/* line 5, ../sass/_animate.scss */
.delay-1 {
  animation-delay: 300ms;
  /* W3C and Opera */
  -moz-animation-delay: 300ms;
  /* Firefox */
  -webkit-animation-delay: 300ms;
}

/* line 5, ../sass/_animate.scss */
.delay-2 {
  animation-delay: 600ms;
  /* W3C and Opera */
  -moz-animation-delay: 600ms;
  /* Firefox */
  -webkit-animation-delay: 600ms;
}

/* line 5, ../sass/_animate.scss */
.delay-3 {
  animation-delay: 900ms;
  /* W3C and Opera */
  -moz-animation-delay: 900ms;
  /* Firefox */
  -webkit-animation-delay: 900ms;
}

/* line 5, ../sass/_animate.scss */
.delay-4 {
  animation-delay: 1200ms;
  /* W3C and Opera */
  -moz-animation-delay: 1200ms;
  /* Firefox */
  -webkit-animation-delay: 1200ms;
}

/* line 5, ../sass/_animate.scss */
.delay-5 {
  animation-delay: 1500ms;
  /* W3C and Opera */
  -moz-animation-delay: 1500ms;
  /* Firefox */
  -webkit-animation-delay: 1500ms;
}

/* line 5, ../sass/_animate.scss */
.delay-6 {
  animation-delay: 1800ms;
  /* W3C and Opera */
  -moz-animation-delay: 1800ms;
  /* Firefox */
  -webkit-animation-delay: 1800ms;
}

/* line 5, ../sass/_animate.scss */
.delay-7 {
  animation-delay: 2100ms;
  /* W3C and Opera */
  -moz-animation-delay: 2100ms;
  /* Firefox */
  -webkit-animation-delay: 2100ms;
}

/* line 5, ../sass/_animate.scss */
.delay-8 {
  animation-delay: 2400ms;
  /* W3C and Opera */
  -moz-animation-delay: 2400ms;
  /* Firefox */
  -webkit-animation-delay: 2400ms;
}

/* line 5, ../sass/_animate.scss */
.delay-9 {
  animation-delay: 2700ms;
  /* W3C and Opera */
  -moz-animation-delay: 2700ms;
  /* Firefox */
  -webkit-animation-delay: 2700ms;
}

/* line 13, ../sass/_animate.scss */
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

/* line 13, ../sass/_animate.scss */
.animated.hinge {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 32, ../sass/_animate.scss */
.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* line 86, ../sass/_animate.scss */
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* line 140, ../sass/_animate.scss */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* line 194, ../sass/_animate.scss */
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
    -o-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* line 248, ../sass/_animate.scss */
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* line 302, ../sass/_animate.scss */
.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  -moz-animation-name: fadeInDownBig;
  -o-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 328, ../sass/_animate.scss */
.fadeOut {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
}
@-moz-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }
}
@-o-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -o-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
/* line 379, ../sass/_animate.scss */
.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  -moz-animation-name: fadeOutUp;
  -o-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
}
@-moz-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }
}
@-o-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -o-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -o-transform: translateY(20px);
  }
}
@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
/* line 433, ../sass/_animate.scss */
.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  -moz-animation-name: fadeOutDown;
  -o-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}

@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
}
@-moz-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }
}
@-o-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -o-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -o-transform: translateX(-20px);
  }
}
@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}
/* line 487, ../sass/_animate.scss */
.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  -moz-animation-name: fadeOutLeft;
  -o-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
}
@-moz-keyframes fadeOutRight {
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -moz-transform: translateX(20px);
  }
}
@-o-keyframes fadeOutRight {
  0% {
    opacity: 1;
    -o-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -o-transform: translateX(20px);
  }
}
@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}
/* line 541, ../sass/_animate.scss */
.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  -moz-animation-name: fadeOutRight;
  -o-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
}

/* line 1, ../sass/partials/_shared.sass */
.overlay {
  background-color: rgba(27, 27, 27, 0.1);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(27, 27, 27, 0.1)), color-stop(100%, rgba(27, 27, 27, 0.7)));
  background-image: -webkit-linear-gradient(top, rgba(27, 27, 27, 0.1), rgba(27, 27, 27, 0.7));
  background-image: linear-gradient(to bottom,rgba(27, 27, 27, 0.1), rgba(27, 27, 27, 0.7));
  height: 100%;
  position: relative;
}

/* line 6, ../sass/partials/_shared.sass */
.no-gutter {
  padding-left: 0;
  padding-right: 0;
}

/* line 10, ../sass/partials/_shared.sass */
.no-gutter-left {
  padding-left: 0;
}

/* line 13, ../sass/partials/_shared.sass */
.no-gutter-right {
  padding-right: 0;
}

/* line 17, ../sass/partials/_shared.sass */
.user-icon {
  border-radius: 50%;
  width: 60px;
}

/* line 1, ../sass/partials/_menu.sass */
#menu {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

/* line 7, ../sass/partials/_menu.sass */
.jPanelMenu-panel {
  background: #fff;
  box-shadow: #000 2px 2px 10px;
  transition: all 450ms;
}

/* line 13, ../sass/partials/_menu.sass */
#jPanelMenu-menu {
  background-color: #111117;
  overflow: hidden;
  overflow-y: hidden !important;
}
/* line 18, ../sass/partials/_menu.sass */
#jPanelMenu-menu ul {
  padding: 15px 0;
}
/* line 21, ../sass/partials/_menu.sass */
#jPanelMenu-menu li {
  margin: 0;
  padding: 8px 30px;
  list-style: none;
}
/* line 26, ../sass/partials/_menu.sass */
#jPanelMenu-menu li.cat {
  padding: 3px 30px;
}
/* line 29, ../sass/partials/_menu.sass */
#jPanelMenu-menu li a {
  color: #DADADA;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  border-bottom: 0 transparent;
  font-size: 12px;
  font-size: 1.2rem;
}
/* line 36, ../sass/partials/_menu.sass */
#jPanelMenu-menu li a:hover {
  border-bottom: none;
  color: #fff;
}
/* line 40, ../sass/partials/_menu.sass */
#jPanelMenu-menu span {
  border-bottom: solid 1px #fff;
  color: #fff;
  width: 70%;
  padding-bottom: 3px;
  display: block;
  margin: 0 30px;
  margin-top: 30px;
  font-size: 15px;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

/* line 51, ../sass/partials/_menu.sass */
.side-menu-icon {
  right: 15px;
  top: 15px;
  z-index: 1080;
  position: absolute;
  display: block;
  height: 40px;
  width: 40px;
  padding-top: 8px;
}
/* line 61, ../sass/partials/_menu.sass */
.side-menu-icon:hover {
  pointer: cursor;
}
/* line 64, ../sass/partials/_menu.sass */
.side-menu-icon span {
  height: 5px;
  width: 28px;
  float: left;
  display: block;
  margin: 0 6px 5px;
  background: #fff;
}
@media (min-width: 992px) {
  /* line 51, ../sass/partials/_menu.sass */
  .side-menu-icon {
    right: 35px;
    top: 35px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  /* line 1, ../sass/partials/_home.sass */
  .home-container {
    max-width: 100%;
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 1, ../sass/partials/_home.sass */
  .home-container {
    margin: 0;
    width: 100%;
  }
}

/* line 11, ../sass/partials/_home.sass */
.hero {
  height: 70%;
  background-image: url(../img/sea.jpg);
  padding: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}
/* line 21, ../sass/partials/_home.sass */
.hero .overlay {
  padding: 50px 0 0;
}
@media (min-width: 768px) {
  /* line 21, ../sass/partials/_home.sass */
  .hero .overlay {
    padding: 0 60px 0;
    padding-top: 140px;
  }
}
@media (min-width: 992px) {
  /* line 21, ../sass/partials/_home.sass */
  .hero .overlay {
    padding-top: 150px;
  }
}
@media (min-width: 1200px) {
  /* line 21, ../sass/partials/_home.sass */
  .hero .overlay {
    padding-top: 170px;
  }
}
/* line 34, ../sass/partials/_home.sass */
.hero .overlay p {
  max-width: 80%;
  margin: 0 auto;
  padding: 15px 0;
  line-height: 1.2;
  font-size: 16px;
  font-size: 1.6rem;
}
@media (min-width: 992px) {
  /* line 34, ../sass/partials/_home.sass */
  .hero .overlay p {
    max-width: 60%;
    line-height: 1.4;
  }
}
@media (min-width: 1200px) {
  /* line 34, ../sass/partials/_home.sass */
  .hero .overlay p {
    max-width: 40%;
  }
}
/* line 48, ../sass/partials/_home.sass */
.hero .user-icon {
  width: 80px;
}

/* line 51, ../sass/partials/_home.sass */
.sub-hero {
  height: 30%;
  padding: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.4);
}

/* line 60, ../sass/partials/_home.sass */
.full {
  height: 100%;
}

/* line 63, ../sass/partials/_home.sass */
.post {
  position: absolute;
  bottom: 0;
}

/* line 1, ../sass/partials/_main-content.sass */
.main-content {
  padding: 30px;
}
@media (min-width: 768px) {
  /* line 1, ../sass/partials/_main-content.sass */
  .main-content {
    padding: 60px 120px;
  }
}
@media (min-width: 992px) {
  /* line 1, ../sass/partials/_main-content.sass */
  .main-content {
    padding: 50px;
  }
}
@media (min-width: 1200px) {
  /* line 1, ../sass/partials/_main-content.sass */
  .main-content {
    padding: 50px 80px;
  }
}
/* line 13, ../sass/partials/_main-content.sass */
.main-content a:hover {
  color: #333337;
}
/* line 16, ../sass/partials/_main-content.sass */
.main-content img {
  max-width: 100%;
  margin-bottom: 15px;
}
/* line 20, ../sass/partials/_main-content.sass */
.main-content footer {
  background: #F3F3F3;
  padding: 30px;
  border: #81819D solid 2px;
  *zoom: 1;
  margin-bottom: 40px;
}
/* line 17, ../sass/bourbon/addons/_clearfix.scss */
.main-content footer:before, .main-content footer:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.main-content footer:after {
  clear: both;
}
/* line 27, ../sass/partials/_main-content.sass */
.main-content footer h3 {
  font-size: 18px;
  font-size: 1.8rem;
  margin: 0;
  margin-bottom: 5px;
}
/* line 31, ../sass/partials/_main-content.sass */
.main-content footer p {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.4;
}
/* line 35, ../sass/partials/_main-content.sass */
.main-content footer img {
  display: inline;
  width: 70px;
  border-radius: 50%;
  max-width: 100%;
}
@media (min-width: 768px) {
  /* line 35, ../sass/partials/_main-content.sass */
  .main-content footer img {
    float: left;
    display: block;
  }
}
/* line 45, ../sass/partials/_main-content.sass */
.main-content footer .profile {
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 45, ../sass/partials/_main-content.sass */
  .main-content footer .profile {
    width: 10%;
  }
}
/* line 52, ../sass/partials/_main-content.sass */
.main-content footer .info {
  padding: 0 15px;
  float: left;
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 52, ../sass/partials/_main-content.sass */
  .main-content footer .info {
    text-align: left;
    padding: 0 30px;
    width: 90%;
  }
}

/* line 62, ../sass/partials/_main-content.sass */
.post {
  height: auto;
  padding: 30px 15px 20px 25px;
  *zoom: 1;
}
/* line 17, ../sass/bourbon/addons/_clearfix.scss */
.post:before, .post:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.post:after {
  clear: both;
}
/* line 67, ../sass/partials/_main-content.sass */
.post .inner {
  float: left;
}
/* line 70, ../sass/partials/_main-content.sass */
.post .inner h2 {
  font-size: 20px;
  font-size: 2rem;
}
/* line 72, ../sass/partials/_main-content.sass */
.post .inner p {
  margin-top: 2px;
}
/* line 75, ../sass/partials/_main-content.sass */
.post img {
  margin-right: 15px;
  margin-bottom: 5px;
}
/* line 79, ../sass/partials/_main-content.sass */
.post img {
  width: 50px;
  height: 50px;
}
/* line 83, ../sass/partials/_main-content.sass */
.post .user-icon {
  padding: 0;
  float: left;
}

/* line 87, ../sass/partials/_main-content.sass */
.meta {
  color: #b6b6b6;
  font-size: 14px;
  font-size: 1.4rem;
}
@media (min-width: 992px) {
  /* line 87, ../sass/partials/_main-content.sass */
  .meta {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
/* line 94, ../sass/partials/_main-content.sass */
.meta a {
  color: #b6b6b6;
  transition: all 0.5s;
}
/* line 98, ../sass/partials/_main-content.sass */
.meta a:hover {
  color: #fff;
  border-bottom: 1px solid #b6b6b6;
}

/* line 1, ../sass/partials/_single.sass */
.hero-image {
  height: 150px;
  width: 100%;
  background-image: url(../img/default-cover.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  /* line 1, ../sass/partials/_single.sass */
  .hero-image {
    height: 300px;
  }
}
@media (min-width: 992px) {
  /* line 1, ../sass/partials/_single.sass */
  .hero-image {
    height: 390px;
  }
}
@media (min-width: 1200px) {
  /* line 1, ../sass/partials/_single.sass */
  .hero-image {
    height: 460px;
  }
}

/* line 16, ../sass/partials/_single.sass */
.single-inner {
  color: #fff;
  padding: 60px 15px;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 16, ../sass/partials/_single.sass */
  .single-inner {
    padding: 130px;
  }
}
@media (min-width: 992px) {
  /* line 16, ../sass/partials/_single.sass */
  .single-inner {
    padding: 150px 100px;
  }
}
@media (min-width: 1200px) {
  /* line 16, ../sass/partials/_single.sass */
  .single-inner {
    padding: 200px 150px;
  }
}

/* line 30, ../sass/partials/_single.sass */
.meta {
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  /* line 30, ../sass/partials/_single.sass */
  .meta {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

/* line 37, ../sass/partials/_single.sass */
.subtitle {
  margin: 5px auto 20px auto;
  font-size: 20px;
  font-size: 2rem;
  font-style: italic;
}
@media (min-width: 768px) {
  /* line 37, ../sass/partials/_single.sass */
  .subtitle {
    font-size: 24px;
    font-size: 2.4rem;
  }
}

/* line 45, ../sass/partials/_single.sass */
hr {
  display: block;
  width: 20%;
  margin: 50px auto 40px auto;
  border: 1px solid #dededc;
}

/* line 51, ../sass/partials/_single.sass */
blockquote {
  font-size: 26px;
  font-size: 2.6rem;
  font-family: "Bitter", serif;
}

/* line 55, ../sass/partials/_single.sass */
.pullquote {
  text-align: center;
  line-height: 28px;
  line-height: 2.8rem;
  font-size: 24px;
  font-size: 2.4rem;
  margin: 50px -5%;
}

/* line 1, ../sass/partials/_category.sass */
div.hero-category {
  height: 52%;
}
@media (min-width: 992px) {
  /* line 1, ../sass/partials/_category.sass */
  div.hero-category {
    height: 55%;
  }
}
/* line 7, ../sass/partials/_category.sass */
div.hero-category .overlay {
  padding: 30px 50px 0;
}
@media (min-width: 768px) {
  /* line 7, ../sass/partials/_category.sass */
  div.hero-category .overlay {
    padding: 0 60px 0;
    padding-top: 100px;
  }
}
@media (min-width: 992px) {
  /* line 7, ../sass/partials/_category.sass */
  div.hero-category .overlay {
    padding-top: 100px;
  }
}
@media (min-width: 1200px) {
  /* line 7, ../sass/partials/_category.sass */
  div.hero-category .overlay {
    padding-top: 120px;
  }
}

/* line 20, ../sass/partials/_category.sass */
.more-stories {
  background: #444447;
}

/* line 23, ../sass/partials/_category.sass */
body.category {
  background: #111117;
}

/* line 1, ../sass/_nojs.sass */
.no-js-menu {
  position: absolute;
  left: 30px;
  top: 0;
  z-index: 1;
  text-align: left;
}
/* line 7, ../sass/_nojs.sass */
.no-js-menu ul {
  padding: 10px 0;
  margin-bottom: 0;
}
/* line 11, ../sass/_nojs.sass */
.no-js-menu li {
  margin: 0;
  padding: 3px 0;
  list-style: none;
}
@media (min-width: 768px) {
  /* line 11, ../sass/_nojs.sass */
  .no-js-menu li {
    padding: 3px 0;
  }
}
@media (min-width: 992px) {
  /* line 11, ../sass/_nojs.sass */
  .no-js-menu li {
    padding: 5px 0;
  }
}
/* line 22, ../sass/_nojs.sass */
.no-js-menu li i {
  padding: 0 20px;
  color: #DADADA;
  font-style: normal;
  font-size: 14px;
  font-size: 1.4rem;
}
/* line 27, ../sass/_nojs.sass */
.no-js-menu li a {
  color: #DADADA;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  border-bottom: 0 transparent;
  font-size: 12px;
  font-size: 1.2rem;
}
/* line 34, ../sass/_nojs.sass */
.no-js-menu li a:hover {
  border-bottom: none;
  color: #fff;
}
/* line 38, ../sass/_nojs.sass */
.no-js-menu span {
  border-bottom: solid 1px #fff;
  color: #fff;
  width: 70%;
  padding-bottom: 3px;
  display: block;
  margin: 0;
  font-size: 15px;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

/* line 49, ../sass/_nojs.sass */
.no-js .menu-trigger {
  display: none;
}
/* line 52, ../sass/_nojs.sass */
.no-js .hero .overlay p {
  max-width: 50%;
}
@media (min-width: 992px) {
  /* line 52, ../sass/_nojs.sass */
  .no-js .hero .overlay p {
    max-width: 65%;
  }
}

/* line 17, ../sass/main.sass */
html,
body {
  font-size: 62.5%;
  height: 100%;
}

/* line 22, ../sass/main.sass */
.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
