<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <header  class="full" data-vide-bg="videos/snow" data-vide-options=" muted: false, position: 50% 20%">
      <h1>
        <img class="js-logo-icon" src="images/adventurethemes-logo.svg" alt="advventure themes icon">
        <img class="js-logo-type" src="images/adventurethemes-type.svg" alt="Adventure themes typographic logo">
      </h1>

      <nav class="animated fadeInUp delay-8">
        <!-- <a href="{{ site.baseurl }}/" class="active">Home</a> -->
        <!-- <a href="{{ site.baseurl }}/news">News</a> -->
      </nav>

      <p class="site-intro animated fadeInUp delay-9">Beautiful responsive HTML themes for Entrepreneurs, Startups and Creatives.</p>
    </header>

    <div class="container">
      {{ content }}
    </div>

    {% include footer.html %}

  <script src="js/jquery-1.11.2.min.js"></script>
  <script src="js/velocity.min.js"></script>
  <script src="js/jquery.vide.min.js"></script>
  <script src="js/main.js"></script>

  </body>

</html>
